#####################################################
# Local Dev Environment Configs
#####################################################

# Dev Notice: This is a template for local configs, means configs must be stayed same no change in keys, but in local you are required to set tools and everything locally as there is no docker image system, you can adjust ports and values as you wish.

# ⚠️ Notice: Local dev is not recommended and is very slow. Pls use Docker Compose for dev.

# ============================================
# Localhost Specifications
# ============================================

# localhost ports
# ============================================
# POrts does not matter so they remains the same as of /.env

# ============================================
# Container Services Nmae Specifications
# ============================================
## No conatainer for local dev, just localhost, my home😆❤️
## Move Further👇


# Client origin for cors
# ============================================
CLIENT_ORIGIN=http://localhost:3000

# Services URIs for docker dev
# ============================================
MCP_GATEWAY_URI=http://localhost:${MCP_GATEWAY_PORT}
WEB_SEARCH_MCP_URI=http://localhost:${WEB_SEARCH_MCP_PORT}

# Services URIs for docker dev (NEXT Public)
# ============================================
NEXT_PUBLIC_AUTH_API_URI=http://localhost:${AUTH_SERVICE_PORT}
NEXT_PUBLIC_AUTH_MAILER_API_URI=http://localhost:${AUTH_MAILER_SERVICE_PORT}
NEXT_PUBLIC_USER_API_URI=http://localhost:${USER_SERVICE_PORT}
NEXT_PUBLIC_AGENT_API_URI=http://localhost:${AI_AGENT_PORT}


## ================================================================== ##
## ================================================================== ##


# ============================================
# DB Configs
# ============================================
## ⚠️ Critical Dev Warning: db host value of each db here must match with service names of db in docker compose so that ## containers can do networking within docker network.
## Warning: Setup locally if not using Docker

# USERS DATABASE
# ============================================
USERS_POSTGRES_DB_HOST=user_postgres_db
USERS_POSTGRES_DB_USER=users_postgres
USERS_POSTGRES_DB_PASSWORD=dev-pass-123
USERS_POSTGRES_DB_NAME=wohaai_user_db
USERS_POSTGRES_DB_INTERNAL_PORT=5432
USERS_POSTGRES_DB_EXTERNAL_PORT=5435

USERS_PRISMA_DB_URI=postgresql://${USERS_POSTGRES_DB_USER}:${USERS_POSTGRES_DB_PASSWORD}@${USERS_POSTGRES_DB_HOST}:${USERS_POSTGRES_DB_EXTERNAL_PORT}/${USERS_POSTGRES_DB_NAME}?schema=public

# THREADS DATABASE
# ============================================
THREADS_POSTGRES_DB_HOST=threads_postgres_db
THREADS_POSTGRES_DB_USER=wohaai_threads
THREADS_POSTGRES_DB_PASSWORD=dev-pass-123
THREADS_POSTGRES_DB_NAME=wohaai_threads_db
THREADS_POSTGRES_DB_PORT=5433

THREADS_PRISMA_DB_URI=postgresql://${THREADS_POSTGRES_DB_USER}:${THREADS_POSTGRES_DB_PASSWORD}@${THREADS_POSTGRES_DB_HOST}:${THREADS_POSTGRES_DB_INTERNAL_PORT}/${THREADS_POSTGRES_DB_NAME}?schema=public


## ================================================================== ##
## ================================================================== ##


# ============================================
# Redis Store configs
# ============================================
## ⚠️ Critical Dev Warning: Here Host name is used as container name must match with service name of redis store docker container so that ## containers can do networking within docker network.
## Warning: Setup locally if not using Docker.

# Redis Store for Auth Verification
# ============================================
AUTH_SESSION_REDIS_HOST=auth_redis_store
AUTH_SESSION_REDIS_USERNAME=default
AUTH_SESSION_STORE_PORT=6379
AUTH_SESSION_STORE_PASSWORD=my-password
AUTH_SESSION_STORE_URI=redis://:${AUTH_REDIS_STORE_PASSWORD}@${AUTH_REDIS_STORE_HOST}:${AUTH_REDIS_STORE_PORT}

# Redis Stores for Short term Memory retrival
#=============================================
## Note: Stuff like memories and chats are stored in qdrant and postgres but
## for quick retrival during live chat session, stored in Redis for efficiet response time.
## Memories and chats are stored in redis for ~30 minutes..
AGENT_MEMORY_REDIS_HOST=memory_redis_store
AGENT_MEMORY_REDIS_USERNAME=default
AGENT_MEMORY_REDIS_PORT=6389
AGENT_MEMORY_REDIS_PASSWORD=my-password
AGENT_MEMORY_REDIS_URI=redis://:${MEMORY_REDIS_STORE_PASSWORD}@${MEMORY_REDIS_STORE_HOST}:${MEMORY_REDIS_STORE_PORT}

# Redis Store for Thread caching
# ============================================
THREADS_HISTORY_REDIS_HOST=threads_redis_store
THREADS_HISTORY_REDIS_USERNAME=default
THREADS_HISTORY_REDIS_PORT=8010
THREADS_HISTORY_REDIS_PASSWORD=my-password
THREADS_HISTORY_REDIS_URI=redis://:${THREADS_REDIS_STORE_PASSWORD}@${THREADS_REDIS_STORE_HOST}:${THREADS_REDIS_STORE_PORT}


## ================================================================== ##
## ================================================================== ##


# ============================================
# Kafka Configuration
# ============================================
## Warning: Setup Kafka locally
AUTH_KAFKA_BROKER_HOST=auth-kafka-broker
AUTH_KAFKA_BROKER_PORT=9092
AUTH_KAFKA_BROKER_URI=${AUTH_KAFKA_BROKER_HOST}:${AUTH_KAFKA_BROKER_PORT}

# Kafka Internal Listeners
KAFKA_CFG_LISTENERS=PLAINTEXT://:${AUTH_KAFKA_BROKER_PORT}
KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://${AUTH_KAFKA_BROKER_HOST}:${AUTH_KAFKA_BROKER_PORT}

# Optional: Kafka cluster connection string (multi-broker setup)
AUTH_KAFKA_BROKERS=${AUTH_KAFKA_BROKER_URI}

# Internal client identity
AUTH_KAFKA_CLIENT_ID=auth-service

# Optional (if using SASL/SSL in production later)
AUTH_KAFKA_USERNAME=wohaai-kafka-dev
AUTH_KAFKA_PASSWORD=dev-pass-123

# Topic naming (recommended convention)
AUTH_KAFKA_TOPIC_PREFIX=auth
AUTH_KAFKA_USER_EVENTS_TOPIC=${AUTH_KAFKA_TOPIC_PREFIX}.user.events
AUTH_KAFKA_SIGNUP_EVENTS_TOPIC=${AUTH_KAFKA_TOPIC_PREFIX}.signup.events