#####################################################
# Local Dev Environment Configs
#####################################################

## Dev Notice: This is a template for local configs, means configs muct be stayed same no change in keys, but in local you are 
## required to set tools and everything locally as there is no docker image system, you can adjust ports and values as you wish.


# ============================================
# Frontend Ports
# ============================================
FRONTEND_APP_PORT=3000

# ============================================
# Service Ports
# ============================================
AUTH_SERVICE_PORT=8001
USER_SERVICE_PORT=8002
AUTH_MAILER_SERVICE_PORT=8003
NGINX_PROXY_PORT=8000

# ============================================
# Container Services Nmae Specifications
# ============================================

## No conatainer for local dev, just localhost, my home😆❤️
## Move Further👇

# ============================================
# Client & Cookie Configuration
# ============================================
CLIENT_ORIGIN=http://localhost:${FRONTEND_APP_PORT}
COOKIE_DOMAIN=localhost

# ============================================
# Services URIs (Local by default)
# ============================================
APP_PUBLIC_GATEWAY_BASE_URI=http://localhost:${NGINX_PROXY_PORT}

## Base URI to go to gateway(NGINIX on DEV, AWS Proxy on Production)
NEXT_PUBLIC_SERVICES_BASE_URI=http://localhost:${NGINX_PROXY_PORT}

NEXT_PUBLIC_AUTH_API_URI=${NEXT_PUBLIC_SERVICES_BASE_URI}/api/auth
NEXT_PUBLIC_AUTH_MAILER_API_URI=${NEXT_PUBLIC_SERVICES_BASE_URI}/api/auth-mailer
NEXT_PUBLIC_USER_API_URI=${NEXT_PUBLIC_SERVICES_BASE_URI}/api/user

# ============================================
# Frontend Public Variables (Next.js)
# ============================================

# Go here to get your Secret & Client Keys: https://www.google.com/recaptcha/admin/create
APP_PUBLIC_RECAPTCHA_SITE_KEY=6LdyNyQsAAAAAF3CHcdxN9C8gxG6OYOEJikr5sPd

# ============================================
# MCP Server Ports
# ============================================
MCP_GATEWAY_PORT=9080
WEB_SEARCH_MCP_PORT=9092

# ============================================
# LLM Agent Port
# ============================================
REACT_AGENT_PORT=9010

# ============================================
# USERS DATABASE
# ============================================

## Warning: Setup locally if not using Docker
USERS_POSTGRES_DB_USER=woahai_users
USERS_POSTGRES_DB_PASSWORD=users_db_password
USERS_POSTGRES_DB_NAME=woahai_user_db
USERS_POSTGRES_DB_HOST=localhost
USERS_POSTGRES_DB_INTERNAL_PORT=5432
USERS_POSTGRES_DB_EXTERNAL_PORT=5435

USERS_PRISMA_DB_URI=postgresql://${USERS_POSTGRES_DB_USER}:${USERS_POSTGRES_DB_PASSWORD}@${USERS_POSTGRES_DB_HOST}:${USERS_POSTGRES_DB_EXTERNAL_PORT}/${USERS_POSTGRES_DB_NAME}?schema=public

# ============================================
# THREADS DATABASE
# ============================================

## Warning: Setup locally if not using Docker
THREADS_POSTGRES_DB_USER=woahai_threads
THREADS_POSTGRES_DB_PASSWORD=threads_db_password
THREADS_POSTGRES_DB_NAME=woahai_threads_db
THREADS_POSTGRES_DB_HOST=localhost
THREADS_POSTGRES_DB_EXTERNAL_PORT=5439
THREADS_POSTGRES_DB_INTERNAL_PORT=5432

THREADS_PRISMA_DB_URI=postgresql://${THREADS_POSTGRES_DB_USER}:${THREADS_POSTGRES_DB_PASSWORD}@${THREADS_POSTGRES_DB_HOST}:${THREADS_POSTGRES_DB_INTERNAL_PORT}/${THREADS_POSTGRES_DB_NAME}?schema=public

#=============================================
# QDRANT Vector Store Config
#=============================================

## Warning: Setup locally if not using Docker
MEMORY_QDRANT_STORE_PORT=6060
MEMORY_QDRANT_STORE_URI=http://localhost:${MEMORY_QDRANT_STORE_PORT}/

#=============================================
# Redis Stores for Short term Memory rtrival
#=============================================

## Warning: Setup locally if not using Docker

## Note: Stuff like memories and chats are stored in qdrant and postgres but
## for quick retrival during live chat session, stored in Redis for efficiet response time.
## Memories and chats are stored in redis for ~30 minutes..
MEMORY_REDIS_STORE_HOST=localhost
MEMORY_REDIS_STORE_USERNAME=default
MEMORY_REDIS_STORE_PORT=6379
MEMORY_REDIS_STORE_PASSWORD=memory_redis_pass
MEMORY_REDIS_STORE_URI=redis://:${MEMORY_REDIS_STORE_PASSWORD}@${MEMORY_REDIS_STORE_HOST}:${MEMORY_REDIS_STORE_PORT}

# ============================================
# Redis Configuration for Auth Verification
# ============================================
THREADS_REDIS_STORE_HOST=localhost
THREADS_REDIS_STORE_USERNAME=default
THREADS_REDIS_STORE_PORT=8010
THREADS_REDIS_STORE_PASSWORD=thread_redis_pass
THREADS_REDIS_STORE_URI=redis://:${THREADS_REDIS_STORE_PASSWORD}@${THREADS_REDIS_STORE_HOST}:${THREADS_REDIS_STORE_PORT}

# ============================================
# Fluvio Configuration
# ============================================
## Warning: Setup locally if not using Docker

AUTH_FLUVIO_API_PORT=9003
AUTH_FLUVIO_API_HOST=localhost
AUTH_FLUVIO_API_URI=http://${AUTH_FLUVIO_API_HOST}:${AUTH_FLUVIO_API_PORT}/
AUTH_FLUVIO_CONTROL_PANE_PORT=localhost:2181
AUTH_FLUVIO_SC=${AUTH_FLUVIO_API_URI}

# ============================================
# Redis Configuration for Auth Verification
# ============================================
AUTH_REDIS_STORE_PORT=6379
AUTH_REDIS_STORE_HOST=localhost
AUTH_REDIS_STORE_PASSWORD=auth_redis_pass
AUTH_REDIS_STORE_URI=redis://:${AUTH_REDIS_STORE_PASSWORD}@${AUTH_REDIS_STORE_HOST}:${AUTH_REDIS_STORE_PORT}
