###############################################
# 🌍 Environment Configs & Variables
# This file contains variables by default for Docker
###############################################

# Dev Notice: Docker Environment is default and suggested for development process, things will be just commands away to setup, very playful experience than local setup. Local is also supported but hard to setup in current setup conditions.

## Global Configuration ##
NODE_ENV=development
DOCKER_TARGET=development
RUNNING_IN_DOCKER=true
LOG_LEVEL=debug

## JWT Configuration ##
# Default keys and token names are given for development
JWT_AUTH_SECRET_KEY="18e6b5de3fd23b183b867e57bbc8928e0e93ad1b8c6806c7664134d6eb03fa833f7075b39f82cf8823bddcf84007a3c2471172360269318152f2d528b3034113"

JWT_CHANGE_PASSWORD_SECRET_KEY="18e6b5de3fd23b183b867e57bbc8928e0e93ad1b8c6806c7664134d6eb03fa833f7075b39f82cf8823bddcf84007a3c2471172360269318152f2d528b3034113"

ENCRYPTION_SECRET=651ea7e5f9e8cac31d1431ab0ef9445219dea20da7e77fa6f63d31f3d9a03017

## Mailer Configuration ##
# You can create a new google account for this purpose, then set two-factor auth and add app password
# Google require two-factor auth and app password
# Get app password from here https://myaccount.google.com/apppasswords 
# or your any other your account provider

MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_USER_EMAIL="****"
MAILER_USER_PASSWORD="****"
# Leave this as it is, mocking email.
MAILER_EMAIL_FROM="WohaAI no-reply@wohaai.com"
MAILER_SECURE=false

## External secrets and keys ##
# Go here to get your Secret & Client Keys: https://www.google.com/recaptcha/admin/create
# Put 'localhost' domain in domain area while creation
APP_PUBLIC_RECAPTCHA_SITE_KEY=****
RECAPTCHA_SECRET_KEY="****"

# Go here: https://platform.claude.com/
# and get your API key by signing in
ANTHROPIC_API_KEY="your-api-key-here"

## Ports ##
# Frontend Ports
NEXTJS_APP_PORT=3000
# Service Ports
AUTH_SERVICE_PORT=8001
USER_SERVICE_PORT=8002
AUTH_MAILER_SERVICE_PORT=8003
AI_AGENT_PORT=9010
USER_GRPC_PORT=50051

## Apps and Services Names ##
# ⚠️ Critical Dev Warning: Container names here must match with service names in docker compose so that containers can
# do networking within docker network.
NEXTJS_APP_HOST_NAME=frontend-app
AUTH_SERVICE_HOST_NAME=auth-service
USER_SERVICE_HOST_NAME=user-service
AUTH_MAILER_SERVICE_HOST_NAME=auth-mailer-service
AGENT_HOST_NAME=wohaai-agent

# AI Agent Host
AI_AGENT_HOST=0.0.0.0

## Client origin for cors ##
CLIENT_ORIGIN=http://localhost:3000

## Services URIs ##
AUTH_API_URI=http://${AUTH_SERVICE_HOST_NAME}:${AUTH_SERVICE_PORT}
USER_API_URI=http://${USER_SERVICE_HOST_NAME}:${USER_SERVICE_PORT}
AUTH_MAILER_API_URI=http://${AUTH_MAILER_SERVICE_HOST_NAME}:${AUTH_MAILER_SERVICE_PORT}

# Client-side public URIs (equal to server URIs)
NEXT_PUBLIC_AUTH_API_URI=${AUTH_API_URI}
NEXT_PUBLIC_USER_API_URI=${USER_API_URI}
NEXT_PUBLIC_AUTH_MAILER_API_URI=${AUTH_MAILER_API_URI}

## DB Configs ##
# ⚠️ Critical Dev Warning: db host value of each db here must match with service names of db in docker compose so that ## containers can do networking within docker network.
## Warning: Setup locally if not using Docker

# USERS MONGO DB
USERS_MONGO_DB_HOST=users_mongo_db
USERS_MONGO_DB_USER=users_mongo
USERS_MONGO_DB_PASSWORD=dev-pass-123
USERS_MONGO_DB_DATABASE=wohaai_user_db
USERS_MONGO_DB_PORT=27015

USERS_MONGO_URI=mongodb://${USERS_MONGO_DB_USER}:${USERS_MONGO_DB_PASSWORD}@${USERS_MONGO_DB_HOST}:${USERS_MONGO_DB_PORT}/${USERS_MONGO_DB_DATABASE}?authSource=admin

# THREADS MONGO DB
THREADS_MONGO_DB_HOST=threads_mongo_db
THREADS_MONGO_DB_USER=wohaai_threads
THREADS_MONGO_DB_PASSWORD=dev-pass-123
THREADS_MONGO_DB_DATABASE=wohaai_threads_db
THREADS_MONGO_DB_PORT=27016

THREADS_MONGO_URI=mongodb://${THREADS_MONGO_DB_USER}:${THREADS_MONGO_DB_PASSWORD}@${THREADS_MONGO_DB_HOST}:${THREADS_MONGO_DB_PORT}/${THREADS_MONGO_DB_DATABASE}?authSource=admin

# QDRANT Vector Store Config
## Create a free Qdrant cluster here: https://cloud.qdrant.io/
AGENT_MEMORY_QDRANT_URI=****
AGENT_MEMORY_QDRANT_API_KEY=****

## Redis Store configs ##
# ⚠️ Critical Dev Warning: Here Host name is used as container name must match with service name of redis store docker container so that ## containers can do networking within docker network.
## Warning: Setup locally if not using Docker.

# Redis Store for Auth Verification
AUTH_SESSION_REDIS_HOST=auth_redis_store
AUTH_SESSION_REDIS_USERNAME=default
AUTH_SESSION_REDIS_PORT=6379
AUTH_SESSION_REDIS_PASSWORD=my-password
AUTH_SESSION_REDIS_URI=redis://:${AUTH_SESSION_REDIS_PASSWORD}@${AUTH_SESSION_REDIS_HOST}:${AUTH_SESSION_REDIS_PORT}

# Redis Store for Thread caching
THREADS_HISTORY_REDIS_HOST=threads_redis_store
THREADS_HISTORY_REDIS_USERNAME=default
THREADS_HISTORY_REDIS_PORT=8010
THREADS_HISTORY_REDIS_PASSWORD=my-password
THREADS_HISTORY_REDIS_URI=redis://:${THREADS_HISTORY_REDIS_PASSWORD}@${THREADS_HISTORY_REDIS_HOST}:${THREADS_HISTORY_REDIS_PORT}

# ============================================
# Kafka Configuration
# ============================================
AUTH_KAFKA_BROKER_HOST=auth-kafka-broker
AUTH_KAFKA_BROKER_PORT=9092
AUTH_KAFKA_BROKER_URI=${AUTH_KAFKA_BROKER_HOST}:${AUTH_KAFKA_BROKER_PORT}

# Kafka Internal Listeners
KAFKA_CFG_LISTENERS=PLAINTEXT://:${AUTH_KAFKA_BROKER_PORT}
KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://${AUTH_KAFKA_BROKER_HOST}:${AUTH_KAFKA_BROKER_PORT}

# Optional: Kafka cluster connection string (multi-broker setup)
AUTH_KAFKA_BROKER=${AUTH_KAFKA_BROKER_URI}

# Internal client identity
AUTH_KAFKA_CLIENT_ID=auth-service

# Optional (if using SASL/SSL in production later)
AUTH_KAFKA_USERNAME=wohaai-kafka-dev
AUTH_KAFKA_PASSWORD=dev-pass-123