/* [project]/src/styles/components/layouts/nav.style.css [app-client] (css) */
.nav {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  transition: all .35s linear;
  display: flex;
  position: relative;
}

.nav-onscroll {
  box-shadow: 5px 2px 15px 0 var(--theme-color-boxShadow-dark);
  border: 1px solid var(--theme-gray-primary);
  margin-top: .4rem;
  border-radius: 140px !important;
  width: 40% !important;
  height: 50px !important;
}

@media (max-width: 910px) {
  .nav-onscroll {
    max-width: 700px;
  }
}

@media (max-width: 800px) {
  .nav-onscroll {
    width: 75% !important;
  }
}

.nav-items {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  position: relative;
}

.brand-logo {
  align-items: center;
  gap: 5px;
  display: flex;
}

.brand-logo-text {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-family-secondary);
  height: calc(100% - 10px);
}

.nav-right-side {
  align-items: center;
  gap: 10px;
  display: flex;
}

.nav-icons {
  width: 24px;
  height: 24px;
  color: var(--theme-fg);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-icons:hover {
  cursor: pointer;
}

.search-input {
  transform-origin: 0 0;
  border: 1px solid var(--theme-gray-primary);
  opacity: .4;
  z-index: 5;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 0;
  max-width: 600px;
  height: 55px;
  transition: all .35s linear;
  display: flex;
  position: absolute;
  transform: scaleX(0);
}

.search-input-appear {
  opacity: 1;
  z-index: 10;
  width: 100%;
  transform: scaleX(1);
}

.search-input-field {
  opacity: .3;
  width: 90%;
  height: 28.6px;
  font-size: 18px;
  font-family: var(--font-family-secondary);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50px;
  outline: none;
  margin-left: 5%;
  transition: all 1.5s;
  scale: .5;
}

.search-input-field-active {
  opacity: 1;
  scale: 1;
}

.search-input-field::placeholder {
  color: var(--theme-dark-white-secondary);
  opacity: .5;
  font-family: var(--font-family-primary);
  font-size: 14px;
}

.search-cancle-btn {
  pointer-events: none;
  cursor: pointer;
  opacity: 0;
  z-index: 15;
  width: 60px;
  height: 100%;
  color: var(--theme-fg);
  justify-content: center;
  align-items: center;
  margin-right: 0;
  font-family: Calton Elegance Sans;
  font-size: 26px;
  font-weight: 500;
  transition: all 1.4s;
  display: flex;
}

.enable-search-cancel-btn {
  border-left: 1px solid var(--theme-border);
  pointer-events: all;
  opacity: 1;
  margin-right: 2%;
}

.disable-button {
  pointer-events: none;
}

.more-options-box {
  transform-origin: top;
  opacity: 0;
  pointer-events: none;
  border-radius: 25px;
  width: auto;
  transition: all .5s;
  position: fixed;
  top: 74px;
  transform: scaleY(.5);
}

@media (min-width: 1245px) {
  .more-options-box {
    right: 20%;
  }
}

.morebar-visible {
  opacity: 1;
  pointer-events: all;
  transform: scaleY(1);
}

@media (max-width: 675px) {
  .nav-items {
    justify-content: space-between;
  }

  .barlon-logo {
    margin-left: 5%;
  }

  .nav-right-side {
    margin-right: 4%;
  }
}

/*# sourceMappingURL=src_styles_components_layouts_nav_style_css_bad6b30c._.single.css.map*/