.policy-content-container{
    color: var(--white);
    width: 100%;
    height: auto;
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: var(--montserrat);
    letter-spacing: var(--letter-spacing-primary);
}

.policy-box{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--theme-black-primary);
    box-shadow: 3px 3px 15px 0px var(--theme-color-boxShadow-dark);
    border-radius: 20px;
    padding: 20px 0px;
}

.policy-box > * {
    width: 100%;
    min-width: 0px;
    height: auto;
    padding: 10px 20px;
}

.policy-content-container h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: Calton Elegance Sans;
}
.policy-content-container h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: Calton Elegance Sans;
}
.policy-content-container p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 145.999%;
    width: 100%;
}
.policy-content-container ul{
    list-style-type: disc;
    margin-left: 2rem;
}
li{
    padding: 3px 0px;
}

.policy-content-container a{
    color: var(--link-color);
    text-decoration: none;
    transition: var(--hover-transition);
    width: auto;
}

.policy-content-container a:hover{
    color: var(--light-gray);
}

.policy-content-container a:active{
    color: var(--light-dark-gray);
    transition: var(--active-transition);
}


