:root {

--color-cod-gray-50:  hsl(0, 0%, 96%);
--color-cod-gray-100: hsl(0, 0%, 91%);
--color-cod-gray-200: hsl(0, 0%, 85%);
--color-cod-gray-300: hsl(0, 0%, 70%);
--color-cod-gray-400: hsl(0, 0%, 55%);
--color-cod-gray-500: hsl(0, 0%, 40%);
--color-cod-gray-600: hsl(0, 0%, 36%);
--color-cod-gray-700: hsl(0, 0%, 31%);
--color-cod-gray-800: hsl(0, 0%, 27%);
--color-cod-gray-900: hsl(0, 0%, 14%);
--color-cod-gray-950: hsl(0, 0%, 5%);


}