:root {
  /* === Dark Theme Group === */
  --theme-dark-black-primary: hsl(0, 0%, 5%);
  --theme-dark-black-secondary: hsl(0, 0%, 15%);
  --theme-dark-black-third: hsl(0, 0%, 20%);
  --theme-dark-white-primary: hsl(0, 0%, 95%);
  --theme-dark-white-secondary: hsl(0, 0%, 70%);
  --theme-color-boxShadow-light: hsla(0, 0%, 80%, 0.25);

  /* === Light Theme Group === */
  --theme-light-white-primary: hsl(0, 0%, 100%);
  --theme-light-white-secondary: hsl(0, 0%, 95%);
  --theme-light-white-third: hsl(0, 0%, 90%);
  --theme-light-black-primary: hsl(0, 0%, 5%);
  --theme-light-black-secondary: hsl(0, 0%, 30%);
  --theme-color-boxShadow-dark: rgba(0, 0, 0, 0.5);

  /* === Mix Theme Group === */
  --theme-gray-primary: hsl(0, 0%, 35%);
  --link-color: rgb(0, 154, 255);
  --link-color-hover: rgb(0, 89, 148);
  --theme-border-primary:hsla(0, 0%, 99%, 0.102);
}