/* @language tailwindcss */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Calton Elegance Sans";
  src: url("/fonts/Calton Elegance Sans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* ======================================================
| THEME TOKENS (DARK = DEFAULT)
====================================================== */

:root {
  /* Core colors */
  --color-bg: hsl(0, 0, 7%);
  --color-bg-secondary: hsl(0, 0%, 10%);
  --color-bg-tertiary: hsl(0, 0%, 13%);

  --color-text: hsl(0, 0%, 95%);
  --color-text-secondary: hsl(0, 0%, 70%);

  --color-border: hsla(240, 6%, 10%, 0.84);
  --color-border: hsl(0, 0%, 19%);
  --color-shadow: rgba(204, 204, 204, 0.25);

  --color-gray-primary: hsl(0, 0%, 35%);
  --color-gray-muted: hsla(0, 0%, 99%, 0.102);


  --color-bg-hover: hsla(0, 0%, 20%, 0.896);
  --color-link: rgb(0, 154, 255);
  --color-link-hover: rgb(0, 89, 148);

  /* Fonts and misc */
  --font-montserrat-sans: "Montserrat", sans-serif;
  --font-calton-elegance-sans: "Calton Elegance Sans", sans-serif;
  --hover-transition: all 0.65s;
  --active-transition: all 0.1s ease;
  --letter-spacing-primary: 0.06rem;
  --letter-spacing-secondary: 0.08rem;
}

/* ======================================================
| LIGHT MODE OVERRIDES
| Triggered by <html class="light">
====================================================== */
.light {
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-secondary: hsl(0, 0%, 95%);
  --color-bg-tertiary: hsl(0, 0%, 90%);

  --color-text: hsl(0, 0%, 5%);
  --color-text-secondary: hsl(0, 0%, 30%);

  --color-card: hsl(0, 0%, 98%);
  --color-border: hsl(0, 0%, 85%);
  --color-shadow: rgba(0, 0, 0, 0.5);

  --color-gray-muted: hsla(0, 0%, 0%, 0.06);
}

@theme {
  --color-bg: var(--color-bg);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-tertiary: var(--color-bg-tertiary);

  --color-text: var(--color-text);
  --color-text-secondary: var(--color-text-secondary);

  --color-card: var(--color-card);
  --color-border: var(--color-border);
  --color-shadow: var(--color-shadow);

  --color-link: var(--color-link);
  --color-link-hover: var(--color-link-hover);

  --color-gray-primary: var(--color-gray-primary);
  --color-gray-muted: var(--color-gray-muted);

  --color-bg-hover: var(--color-bg-hover);

  --font-montserrat-sans: var(--font-montserrat-sans);
  --font-calton-elegance-sans: var(--font-calton-elegance-sans);

  /* === Other Styles === */
  --letter-spacing-primary: 0.06rem;
  --letter-spacing-secondary: 0.08rem;
  --hover-transition: all 0.65s;
  --active-transition: all 0.1s ease;
}

.shadow-light {
  box-shadow: var(--color-boxShadow-light);
}

.shadow-dark {
  box-shadow: var(--color-boxShadow-dark);
}

::-webkit-scrollbar {
  width: 6px;
  height: auto;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-dark-black-third);
  border-radius: 60px;
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  box-sizing: border-box;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: none !important;
  -webkit-text-fill-color: var(--white) !important;
  color: var(--white) !important;
  caret-color: var(--white);
  transition: background-color 9999s ease-out, color 9999s ease-out;
}

svg{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}