:root{
    --font-family-primary: 'Calton Elegance Sans';
    --font-family-secondary: var(--montserrat);
    --letter-spacing-primary: 0.06rem;
    --letter-spacing-secondary: 0.08rem;
    --hover-transition: all 0.5s;
    --active-transition: all 0.2s ease;
}