html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  text-decoration: none;
  font-family: var(--font-family-secondary);
  letter-spacing: var(--letter-spacing-primary);
  min-width: 370px;
}

.main-layout{
  margin: 0 auto;
  max-width: 2560px;
  width: auto;
}

.layout-elements{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  align-items: center;
  box-shadow: 0px 0px 50px 0px var(--theme-color-boxShadow-dark);
}

.navigation-bar{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
}

.app-page-view{
  width: 100%;
  transition: all 1.5s ease;
}
.footer-layout{
  width: 100%;
}

.about-s {
  width: 100%;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: none !important;
  -webkit-text-fill-color: var(--white) !important;
  color: var(--white) !important;
  caret-color: var(--white);
  transition: background-color 9999s ease-out, color 9999s ease-out;
} */

@media(max-width: 600px){
  body{
    font-size: 13px;
  }
}

