.shop-filter{
    width: 100%;
    height: 58px;
    background-color: var(--theme-black-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 50px;
    background-color: var(--theme-black-secondary);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px var(--theme-color-boxShadow-dark);
    color: var(--white);
}

.filter-menu-open-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: var(--hover-transition);
    background-color: var(--black);
    padding: 10px 20px;
    border-radius: 25px;
    max-width: 115px;
    min-height: 35px;
}

.filter-menu-open-button:hover{
    background-color: var(--light-dark-gray);
}

.filter-menu-open-button:active{
    background-color: var(--dark-gray);
    transition: var(--active-transition);
}

.filter-menu-open-button span{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family-primary);
}

.filter-menu-open-button-icon{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family-primary);
}


.filter-tags-display{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.filter-tag{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family-primary);
    letter-spacing: var(--letter-spacing-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filter-tag-cancle-icon{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family-primary);
    letter-spacing: var(--letter-spacing-primary);
    cursor: pointer;
}
