.morebar-b{
    width: auto;
    height: auto;
    display: flex;
    justify-content: end;
}

.morebar-options-content{
    height: auto;
    width: auto;
    color: inherit;
}

.morebar-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: inherit;
    height: auto;
    width: auto;
    border: 1px solid var(--theme-gray-primary);
    border-radius: 25px;
}

.morebar-options > * {
    height: 50px;
    min-width: 250px;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s linear;
    pointer-events: all;
    cursor: pointer;
    border-radius: 25px;
    margin: 10px 5px;
}

.morebar-options > *:hover{
    background-color: var(--theme-gray-primary);
    color: white;
}

.morebar-options > *:active{
    scale: .9;
}