.nav {
  background-color: transparent;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.35s linear;
}

.nav-onscroll {
  box-shadow: 5px 2px 15px 0 var(--theme-color-boxShadow-dark);
  height: 50px !important;
  width: 40% !important;
  border-radius: 140px !important;
  margin-top: 0.4rem;
  border: 1px solid var(--theme-gray-primary);
}

@media (max-width: 910px) {
  .nav-onscroll {
    max-width: 700px;
  }
}
@media (max-width: 800px) {
  .nav-onscroll {
    width: 75% !important;
  }
}

.nav-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.brand-logo-text {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-family-secondary);
  height: calc(100% - 10px);
}

.nav-right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icons {
  width: 24px;
  height: 24px;
  color: var(--theme-fg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-icons:hover {
  cursor: pointer;
}

.search-input {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 50px;
  transform: scaleX(0);
  height: 55px;
  width: 0;
  transform-origin: top left;
  border: 1px solid var(--theme-gray-primary);
  transition: all .35s linear;
  opacity: 0.4;
  z-index: 5;
  max-width: 600px;
}

.search-input-appear {
  width: 100%;
  opacity: 1;
  transform: scaleX(1);
  z-index: 10;
}

.search-input-field {
  width: 90%;
  margin-left: 5%;
  font-size: 18px;
  height: 28.6px;
  background-color: transparent;
  opacity: 0.3;
  border: none;
  outline: none;
  scale: 0.5;
  transition: all 1.5s ease;
  font-family: var(--font-family-secondary);
  border-radius: 50px;
}

.search-input-field-active {
  opacity: 1;
  scale: 1;
}

.search-input-field::placeholder {
  color: var(--theme-dark-white-secondary);
  opacity: 0.5;
  font-family: var(--font-family-primary);
  font-size: 14px;
}

/* Cancel Button */
.search-cancle-btn {
  font-size: 26px;
  font-weight: 500;
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Calton Elegance Sans";
  pointer-events: none;
  cursor: pointer;
  margin-right: 0;
  transition: all 1.4s ease;
  opacity: 0;
  z-index: 15;
  color: var(--theme-fg);
}

.enable-search-cancel-btn {
  border-left: 1px solid var(--theme-border);
  margin-right: 2%;
  pointer-events: all;
  opacity: 1;
}

.disable-button {
  pointer-events: none;
}

/* === More Options Box === */
.more-options-box {
  position: fixed;
  top: 74px;
  transform: translateX(-50%);
  transform: scaleY(0.5);
  transform-origin: top center;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
  width: auto;
  border-radius: 25px;
}

@media (min-width: 1245px) {
  .more-options-box {
    right: 20%;
  }
}

.morebar-visible {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 675px) {
  .nav-items {
    justify-content: space-between;
  }

  .barlon-logo {
    margin-left: 5%;
  }

  .nav-right-side {
    margin-right: 4%;
  }
}
